.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 1%;
  margin-left: 1.38%;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#ticker_info_table {
  border-radius: 5px;
  width: 429px;
  height: 95px;
  background-color: #f9f9f9;
  margin-left: 2%;
  padding: 0.5%;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#coy_name_sector {
  display: inline-flex;
}

#sector {
  margin-left: 5px;
  margin-top: 5px;
  background-color: black;
  font-size: 10px;
  height: 90%;
}

.tick_metrics {
  background-color: #3a3f44;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 5px;
  height: 95px;
  width: 10%;
  margin-left:1.38%;
  padding-top: 0.5%;
  color: white;
  font-size: 30px;
  text-align: center;
}

 #tic_price_info {
  display: inline-flex;
}

#coy_name {
  margin: 0px;
}

#close_price {
  font-size: 35px;
  margin-top: -2px;
}

#price_diff {
  font-size: 18px;
  margin-top:15px;
  margin-left:8px;
}


#price_date {
  font-size:12px;
  margin-top: -4px;
  padding: 0%;
}

.search_style {
  margin-left: 2%;
  margin-bottom: 0.5%;
  margin-top: 1%;
}

#search-button {
  margin-left: 0.3%;
  margin-bottom: 0.2%;
  border-radius: 5px;
}
.container-display {
  display: flex;
}

.flex-display {
  display: flex;
}

.column,
.columns {
  margin-left: 4%;
}

.four.columns {
width: 30.6666666667%;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#tabs {
  width: 400px;   
}

#tabs2 {
  font-size: 10px;
  padding: 0%;
  margin-top: -1.2%
}


#tab-1 {
  width:300px;
}

.control-tab {
max-height: 380px;
max-width: 400px;
padding: 10px;
border-radius: 5px;
background-color: #f9f9f9;
position: relative;
}

.tabs_group{
height: 450px;
width: 429px;
margin-left: 2%;
margin-top:1%;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 15px;
border-radius: 5px;
background-color: #f9f9f9;
position: relative;
box-shadow: 2px 2px 2px lightgrey;
}

#connectgraph {
  width: 36.58%;
  height: 580px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 0.5%;
  margin-left: 2%;
}

#client_perf_dropdown{
  margin-top:1%;
}

#coy_perf_dropdown {
  margin-top:1%;
}

.perfbar_table{
  overflow-y: auto;
  background-color: #f9f9f9;
  height: 480px;
}

#overall_table {
  display: flex;
}

#testtableright {
  margin-left: 1%;
  width: 58%;
  padding: 0%;
}

#combine_remind {
  display: inline-flex;
}

#client_remind_cover {
  height: 300px;
}

#top_right_table {
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px lightgrey;
  margin-bottom: 1%;
  padding: 0%;
}

#btn_right_table {
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px lightgrey;

}
#navtest{
  background-color: black;
}

#SIDEBAR
#sidebar {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

#sidebar_title {
  margin-left: 13px;
  margin-top : 30px;
}

/* Hide the blurb on a small screen */
#blurb {
display: none;
margin: 0px;
margin-bottom: 12px;
}

#sidebar-toggle {
  display: none;
  margin-top: 20px;
}

#collapse *:first-child {
/*margin-top: 1rem;*/
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#page-content {
padding: 2rem 1rem;
}

@media (min-width: 48em) {
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  text-align: left;
  transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  margin-top: 40px;
}

#sidebar-toggle {
  display: inline-block;
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;
}

/* add negative margin to sidebar to achieve the collapse */
#sidebar.collapsed {
  margin-left: -15.5rem;
  padding-right: 0.5rem;
}

/* move the sidebar toggle up to the top left corner */
#sidebar.collapsed #sidebar-toggle {

}

/* also adjust margin of page content */
#sidebar.collapsed ~ #page-content {
  margin-left: 4rem;
}

/* move all contents of navbar other than header (containing toggle) further
   off-screen */
#sidebar.collapsed > *:not(:first-child) {
  margin-left: -6rem;
  margin-right: 6rem;
}

/* reveal the blurb on a large screen */
#blurb {
  display: block;
}

/* Hide the toggle on a large screen */
#navbar-toggle {
  display: none;
}

#collapse {
  display: block;
}

/* set margins of the main content so that it doesn't overlap the sidebar */
#page-content {
  margin-left: 20%;
  margin-right: 2%;
  transition: margin-left 0.3s ease-in-out;
}
}

#assest_dropdown {
  font-family: 'Lato', sans-serif;
  font-size: 0.7vw;
}

#main_table {
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1%;
  padding-bottom: 3%;
  box-shadow: 2px 2px 2px lightgrey;
  width: 100%;
  height: 100%;
  margin-top: 4px;
}

#risk_pie_combine {
  display: inline-flex;
}

#risk_table {
  display: block;
  margin-left: 1%;
}

#target_risk_filter{
  margin-top:2%;
  margin-bottom:2%;
}

#main_table .row {
margin: 0;
}

#top_right_table {
  padding: 2%;
}

#remind_table .row {
  margin: 0;
  padding: 0;
}

#client_coy_table .row {
margin: 0;
}
#stats_table {
background-color: lightgrey;
}
#stats_table .row {
margin: 0;
}

.fin_bar_group {
display: inline-flex;
width: 471px;
height: 370px;
border-radius: 5px;
background-color: #f9f9f9;
box-shadow: 2px 2px 2px lightgrey;
padding:0px;
margin-top:1%;
margin-left: 2%;
margin-bottom: 2%;
}

#coy_desc {
padding:10px;
height: 350px;
overflow-y: auto;
}

#main_select_btn {
margin-left: 10px;
margin-bottom: 5px;
width: 70px;
height: 25px;
font-size: 12px;
}

#main_clear_btn {
margin-left: 10px;
margin-bottom: 5px;
width: 70px;
height: 25px;
font-size: 12px;
}

#client_checkbox {
overflow-y: auto;
max-height: 200px;
width: 170px;
background-color:white;
border-radius: 5px;
/* border-style: solid;
border-width: 2px; */
padding: 8px;
zoom: 0.8;
font-size: 14px;
margin-right: 10px;
}

#ccy_checkbox {
overflow-y: auto;
max-height: 150px;
width: 170px;
background-color:white;
border-radius: 5px;
/* border-style: solid;
border-width: 2px; */
padding: 8px;
zoom: 0.8;
font-size: 14px;
margin-right: 10px;
}

.checkbox_words {
margin-top: 5px;
font-size: 10px;
}

#base_checkbox {
overflow-y: auto;
overflow-x: hidden;
max-height: 200px;
max-width: 170px;
background-color:white;
border-radius: 5px;
/* border-style: solid;
border-width: 2px; */
padding: 8px;
zoom: 0.8;
font-size: 14px;
white-space: nowrap;
}

#asset_checkbox {
overflow-y: auto;
overflow-x: hidden;
max-height: 200px;
max-width: 170px;
background-color:white;
border-radius: 5px;
/* border-style: solid;
border-width: 2px; */
padding: 8px;
zoom: 0.8;
font-size: 14px;
white-space: nowrap;
margin-right: 10px;
}

#sub_asset_checkbox {
overflow-y: auto;
overflow-x: hidden;
height: 200px;
width: 170px;
background-color:white;
border-radius: 5px;
/* border-style: solid;
border-width: 2px; */
padding: 8px;
zoom: 0.8;
font-size: 14px;
white-space: nowrap;
}

.all_clear_btn{
width: 32px;
height: 20px;
font-size: 8px;
margin-bottom: 5px;
margin-left: 5px;
}

#client_fitler_box {
display: inline-flex;
margin-left: 13px;
}

#base_fitler_box {
display: inline-flex;
margin-left: 16px;
}

#asset_fitler_box {
display: inline-flex;
margin-left: 13px;
margin-top: 10px;
}

#asset_sub_fitler_box {
display: inline-flex;
margin-left: 16px;
margin-top: 10px;
}

#ccy_filter_box {
display: inline-flex;
margin-left: 13px;
margin-top: 10px;
}

#ccy_to_ccy_filter_box {
display: inline-flex;
margin-left: 13px;
}

#base_clear_btn {
margin-left: 14px;
}

#client_to_base_filter_box {
display: inline-flex;
margin-left:10px;
}

#Asset_to_Sub_filter_box {
display: inline-flex;
margin-left:10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  }

#connectgraph ::-webkit-scrollbar {
  background-color:#C0C0C0	 !important;
    }
#connectgraph ::-webkit-scrollbar-thumb {
    background-color: #2F4F4F !important;
    /*border: 2px solid #2F4F4F;*/
    }

#collapse ::-webkit-scrollbar {
background-color:#C0C0C0	 !important;
}
#collapse ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
/*border: 2px solid #2F4F4F;*/
}

#main_table ::-webkit-scrollbar {
background-color:#C0C0C0	 !important;
}

#main_table ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
/*border: 2px solid #2F4F4F;*/
}

.control-tab ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
}

.control-tab ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
/*border: 2px solid #2F4F4F;*/
}

#top_client_table ::-webkit-scrollbar {
background-color:#C0C0C0	 !important;
}

#top_client_table  ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
/*border: 2px solid #2F4F4F;*/
}

#top_coy_table ::-webkit-scrollbar {
background-color:#C0C0C0	 !important;
}

#top_coy_table ::-webkit-scrollbar-thumb {
background-color: #2F4F4F !important;
}


#fin_modal ::-webkit-scrollbar {
background-color:#C0C0C0	 !important;
}

#fin_modal ::-webkit-scrollbar-thumb{
background-color: #2F4F4F !important;
}


#testingzz {
background-color: #2F4F4F;
border-radius: 20px;
width: 300px;
padding: 20px;
}

.breadcrumb {
  margin: 0px;
  padding: 0.1%;
  height: 4%;
  margin-bottom: 0.3%;
}

#banner_group {
  display: flex;
}

#client_table .row {
margin: 0;
}

#coy_table .row {
margin: 0;
}

.client_metrics {
  background-color: #3a3f44;
  box-shadow: 2px 2px 2px lightgrey;
  height: 5%;
  width: 17.1%;
  margin: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 2%;
  padding: 0.1%;
  color: white;
  text-align: center;
}

#remind-collapse {
  margin-left: 0.5%;
}

.remind_btn {
  margin-left: 20px;
}

#remind_btn_grp {
  margin-left: 34%;
  margin-top: 0.4%;
  margin-bottom: 0%;

}

.remind_metrics {
  background-color: #3a3f44;
  box-shadow: 2px 2px 2px lightgrey;
  height: 47.8px;
  width: 170px;
  margin-top: 3.6%;
  margin-left: 2%;
  margin-right: 20px;
  padding: 0.1%;
  color: white;
  text-align: center;
}


#remind_dropdown {
  margin-top: 0.5%;
}

#remind_dropdown .Select-menu-outer {
  background-color :white;
  border-color: transparent;
  font-size: 10px;
}

/*dropdown list words*/
#remind_dropdown .Select-control .Select-value-label {
  cursor: pointer;
}

#remind_dropdown .is-open .Select-value-label {
  color: white;
}

#remind_dropdown .Select-control {
  background-color: transparent !important;
  border-color: black;
}

#remind_table {
  margin-top: 1.5%;
}

.ban_values {
  margin: 0px;
  font-size: 28px;
}

.ban_title {
  font-size: 13px;
  margin-bottom: 2%;
}

.remind_ban_values {
  margin: 0px;
  font-size: 20px;
}

.remind_ban_title {
  font-size: 10px;
  margin-bottom: 2%;
}


#modal_header {
display:inline-flex;
}

#top_client_table {
box-shadow: 2px 2px 2px lightgrey;
border-radius: 5px;
background-color: #f9f9f9;
margin:28px;
margin-top:10px;
margin-left:8%;
width: 650px;
padding: 20px;
}

#combine_home_tables {
display: inline-flex;
}

#links {
  margin:5px;
}

#top_coy_table {
box-shadow: 2px 2px 2px lightgrey;
border-radius: 5px;
background-color: #f9f9f9;
box-shadow: 2px 2px 2px lightgrey;
border-radius: 5px;
background-color: #f9f9f9;
margin:20px;
margin-top:10px;
width: 650px;
padding: 20px;
}